<div class="registrarse">
  <h1><font color="black">
  Editar Datos del Usuario
  </font></h1>
  Id<input type="text" [(ngModel)]="data_id" name="u" placeholder="id" required="required" /><br>
  Correo<input type="text" [(ngModel)]="data_correo" name="u" placeholder="correo" required="required" /><br>
  Password<input type="text" [(ngModel)]="data_password" name="u" placeholder="password" required="required" /><br>
  Nombre de Usuario<input type="text" [(ngModel)]="data_nombre_usr" name="u" placeholder="nombre_usr" required="required" /><br>
  URL Foto<input type="text" [(ngModel)]="data_url_foto_usr" name="u" placeholder="url_foto_usr" required="required" /><br>
  Cantidad Membresia<input type="text" [(ngModel)]="data_cantidad_membresias" name="u" placeholder="cantidad_membresias" required="required" /><br>
  Fecha Inicio Membresia<input type="text" [(ngModel)]="data_fecha_inicio_membresia" name="u" placeholder="fecha_inicio_membresia" required="required" /><br>
  Numero Tarjeta<input type="text" [(ngModel)]="data_numero_tarjeta" name="u" placeholder="data_numero_tarjeta" required="required" /><br>
  <input type="button" value="Aceptar Cambios" class="btn btn-primary btn-block" (click)="update($event)" />
</div>
