<link href="https://fonts.googleapis.com/css?family=Audiowide|Luckiest+Guy" rel="stylesheet">

<h1>
  FlameTuneLibrary
</h1>


<div class="topnav">
  <a class="topnava1" routerLink="/welcome">Welcome</a>
  <a class="topnava1" routerLink="/registrarse">Registrarse</a>
  <a class="topnava2" routerLink="/iniciar_sesion">Iniciar Sesion</a>
  <a class="topnava2" routerLink="/mostrar_usuario">Get Usuario</a>
  <a class="topnava2" routerLink="/editar_usuario">Editar Usuario</a>
</div>


<router-outlet></router-outlet>
